<header>
    <hlm-menu-bar
        class="flex flex-row items-center justify-between fixed top-0 left-0 right-0 h-16 w-full z-1000 shadow-lg px-4"
    >
        <div class="flex h-full items-center">
            <img
                ngSrc="/images/winebuddy_logo_small.png"
                alt="winebuddy_logo_small"
                width="361"
                height="461"
                routerLink="/"
                class="h-full max-h-full w-full object-contain cursor-pointer"
                priority
            />
        </div>
        @if (this.authService.user$ | async; as user) {
            <div>
                <hlm-avatar variant="large">
                    <img
                        [src]="user?.profileURL ? user!.profileURL : 'images/anonymous.png'"
                        [brnMenuTriggerFor]="userOptions"
                        class="cursor-pointer"
                        alt="profile_picture"
                        hlmAvatarImage
                    />
                </hlm-avatar>
                <ng-template #userOptions>
                    <hlm-menu>
                        <button
                            hlmMenuItem
                            routerLink="/dashboard"
                            class="btn-profile cursor-pointer"
                        >
                            <ng-icon hlm name="lucideLayoutGrid" />
                            Dashboard
                        </button>
                        <button
                            hlmMenuItem
                            routerLink="/profile"
                            class="btn-profile cursor-pointer"
                        >
                            <ng-icon hlm name="lucideCircleUserRound" />
                            Profile
                        </button>
                        <button hlmMenuItem (click)="signOut()" class="btn-profile cursor-pointer">
                            <ng-icon hlm name="lucideLogOut" />
                            Sign Out
                        </button>
                    </hlm-menu>
                </ng-template>
            </div>
        } @else {
            <div class="flex flex-row gap-2">
                <button hlmMenuBarItem routerLink="/login" class="btn-menubar cursor-pointer">
                    <ng-icon hlm name="lucideLogIn" />
                    Login
                </button>
                <button hlmMenuBarItem routerLink="/register" class="btn-menubar cursor-pointer">
                    <ng-icon hlm name="lucideUserRoundPen" />
                    Register
                </button>
            </div>
        }
    </hlm-menu-bar>
</header>
