<header>
    <hlm-menu-bar
        class="flex flex-row items-center justify-between fixed top-0 left-0 right-0 h-20 w-full z-1000 shadow-lg px-4"
    >
        <div class="w-14 pl-2 box-content cursor-pointer">
            <img
                ngSrc="/images/winebuddy_logo_small.png"
                alt="winebuddy_logo_small"
                width="361"
                height="461"
                routerLink="/"
                priority
            />
        </div>
        <div *ngIf="!this.isLoggedIn" class="flex flex-row gap-2">
            <button hlmMenuBarItem routerLink="/login" class="btn-menubar cursor-pointer">
                Login
                <ng-icon hlm name="lucideLogIn" />
            </button>
            <button hlmMenuBarItem routerLink="/register" class="btn-menubar cursor-pointer">
                Register
                <ng-icon hlm name="lucideUserRoundPen" />
            </button>
        </div>
    </hlm-menu-bar>
</header>
