services:
  database:
    container_name: 'database'
    build:
      context: ./database
    restart: always
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
  backend:
    build: ./backend
    container_name: 'backend'
    restart: unless-stopped
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://database:5432/winebuddy
      - SPRING_DATASOURCE_USERNAME=winebuddy
      - SPRING_DATASOURCE_PASSWORD=password
    profiles:
      - prod
    ports:
      - '8080:8080'
    depends_on:
      - database
  frontend:
    build: ./frontend
    container_name: 'frontend'
    ports:
      - '4200:4200'
    profiles:
      - prod
    restart: unless-stopped
    depends_on:
      - backend
    command: ["pnpm", "run", "start", "--host", "0.0.0.0"]

volumes:
  db_data:
