@import '@angular/cdk/overlay-prebuilt.css';
@import 'tailwindcss';
@import '@spartan-ng/brain/hlm-tailwind-preset.css';

@font-face {
    font-family: 'Montserrat';
    src: url('./app/static/assets/fonts/Montserrat.ttf') format('truetype');
}

:root {
    font-family: 'Montserrat', 'sans-serif';
}

:root {
    color-scheme: light;

    --background: oklch(100% 0 0); /* white */
    --foreground: oklch(45% 0.04 165); /* #3e5e4e */
    --card: oklch(100% 0 0); /* white */
    --card-foreground: oklch(45% 0.04 165); /* #3e5e4e */
    --popover: oklch(100% 0 0); /* white */
    --popover-foreground: oklch(45% 0.04 165); /* #3e5e4e */
    --primary: oklch(60% 0.08 165); /* #5a9178 */
    --primary-foreground: oklch(82% 0.05 55); /* #d9b99b */
    --secondary: oklch(90% 0.04 55); /* lighter beige */
    --secondary-foreground: oklch(45% 0.04 165); /* #3e5e4e */
    --muted: oklch(90% 0.04 55); /* light beige */
    --muted-foreground: oklch(60% 0.02 165); /* desaturated green */
    --accent: oklch(90% 0.04 55); /* light beige */
    --accent-foreground: oklch(45% 0.04 165); /* #3e5e4e */
    --destructive: oklch(55% 0.22 25); /* red */
    --destructive-foreground: oklch(98% 0 0);
    --border: oklch(75% 0.05 55); /* slightly darker beige */
    --radius: 0.5rem;
    --input: oklch(75% 0.05 55);
    --ring: oklch(60% 0.08 165); /* #5a9178 */
}

:root.dark {
    color-scheme: dark;

    --background: oklch(45% 0.04 165); /* #3e5e4e */
    --foreground: oklch(82% 0.05 55); /* #d9b99b */
    --card: oklch(40% 0.04 165); /* slightly darker green */
    --card-foreground: oklch(82% 0.05 55); /* #d9b99b */
    --popover: oklch(40% 0.04 165);
    --popover-foreground: oklch(82% 0.05 55);
    --primary: oklch(60% 0.08 165); /* #5a9178 */
    --primary-foreground: oklch(82% 0.05 55); /* #d9b99b */
    --secondary: oklch(35% 0.04 165); /* very dark green */
    --secondary-foreground: oklch(82% 0.05 55);
    --muted: oklch(35% 0.04 165);
    --muted-foreground: oklch(75% 0.05 55);
    --accent: oklch(50% 0.05 55); /* mid-tone beige */
    --accent-foreground: oklch(82% 0.05 55);
    --destructive: oklch(48% 0.2 25);
    --destructive-foreground: oklch(82% 0.05 55);
    --border: oklch(35% 0.04 165);
    --radius: 0.5rem;
    --input: oklch(35% 0.04 165);
    --ring: oklch(60% 0.08 165); /* #5a9178 */
}

@layer base {
    * {
        @apply border-border;
    }

    .btn-menubar {
        @apply font-bold hover:bg-primary ease-in transition-all duration-300 ease-in-out transform;
    }

    .btn-profile {
        @apply font-bold hover:bg-primary ease-in transition-all duration-300 ease-in-out transform flex flex-row gap-2;
    }

    .section-container {
        @apply h-[calc(100vh-64px)] pt-16;
    }
}
