@if (this.authService.user$ | async; as user) {
    <section class="section-container">
        <div class="flex w-full h-full">
            <hlm-tabs tab="data" class="w-full h-full">
                <hlm-tabs-list class="grid w-full grid-cols-2">
                    <button hlmTabsTrigger="data" class="cursor-pointer">Data view</button>
                    <button hlmTabsTrigger="map" class="cursor-pointer">Map view</button>
                </hlm-tabs-list>
                <div class="w-full h-full flex flex-col justify-center">
                    <div
                        hlmTabsContent="data"
                        class="w-full p-4 flex flex-col justify-center items-center gap-4"
                    >
                        @if (user.vineyard!.cellars && user.vineyard!.cellars!.length > 0) {
                            <div class="overflow-x-auto shadow-lg rounded-lg">
                                <table class="w-full table-auto border border-gray-200">
                                    <thead>
                                        <tr class="dashboard-tr">
                                            <th scope="col" class="dashboard-th">Name</th>
                                            <th scope="col" class="dashboard-th">Capacity</th>
                                            <th scope="col" class="dashboard-th">Area</th>
                                            <th scope="col" class="dashboard-th">Owning Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (cellar of user.vineyard!.cellars; track cellar) {
                                            <tr class="dashboard-tr" [brnCtxMenuTriggerFor]="menu">
                                                <td class="dashboard-td">
                                                    {{ cellar.name }}
                                                </td>
                                                <td class="dashboard-td">
                                                    {{ cellar.barrels?.length ?? 0 }}/{{
                                                        cellar.capacity
                                                    }}
                                                </td>
                                                <td class="dashboard-td">
                                                    {{ cellar.area | number }} km²
                                                </td>
                                                <td class="dashboard-td">
                                                    {{ cellar.owningDate | datetransform }}
                                                </td>
                                            </tr>
                                            <ng-template #menu>
                                                <hlm-menu>
                                                    <button
                                                        variant="destructive"
                                                        class="w-full"
                                                        (click)="deleteCellar(cellar.id)"
                                                        hlmBtn
                                                    >
                                                        <ng-icon name="lucideTrash2"></ng-icon>
                                                        Delete
                                                    </button>
                                                </hlm-menu>
                                            </ng-template>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <hlm-dialog>
                                <div class="flex justify-center w-full h-full">
                                    <button
                                        class="h-24 w-24"
                                        variant="outline"
                                        brnDialogTrigger
                                        hlmBtn
                                    >
                                        <ng-icon name="lucidePlus" size="40px"></ng-icon>
                                    </button>
                                </div>
                                <hlm-dialog-content *brnDialogContent="let ctx">
                                    <hlm-dialog-header>
                                        <h3 class="text-center" hlmDialogTitle>Add cellar</h3>
                                        <p hlmDialogDescription>
                                            IMPORTANT: You need to draw inside your vineyard before
                                            adding!
                                        </p>
                                    </hlm-dialog-header>
                                    <form [formGroup]="cellarForm" (ngSubmit)="addCellar()">
                                        <div class="flex flex-col items-center gap-y-2">
                                            <hlm-form-field>
                                                <input
                                                    class="w-64"
                                                    type="text"
                                                    placeholder="Cellar name"
                                                    formControlName="name"
                                                    hlmInput
                                                />
                                            </hlm-form-field>
                                            <hlm-form-field>
                                                <input
                                                    class="w-64"
                                                    type="number"
                                                    min="0"
                                                    placeholder="Capacity"
                                                    formControlName="capacity"
                                                    hlmInput
                                                />
                                            </hlm-form-field>
                                            <div class="flex gap-6">
                                                <button
                                                    variant="destructive"
                                                    hlmBtn
                                                    brnDialogClose
                                                    type="reset"
                                                    class="cursor-pointer"
                                                >
                                                    Close
                                                </button>
                                                <button
                                                    variant="default"
                                                    hlmBtn
                                                    type="submit"
                                                    class="cursor-pointer"
                                                    [disabled]="this.checkFields()"
                                                >
                                                    Create
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </hlm-dialog-content>
                            </hlm-dialog>
                        } @else {
                            <hlm-dialog>
                                <div class="flex justify-center w-full h-full">
                                    <button
                                        class="h-48 w-48"
                                        variant="outline"
                                        brnDialogTrigger
                                        hlmBtn
                                    >
                                        <ng-icon name="lucidePlus" size="80px"></ng-icon>
                                    </button>
                                </div>
                                <hlm-dialog-content *brnDialogContent="let ctx">
                                    <hlm-dialog-header>
                                        <h3 class="text-center" hlmDialogTitle>Add cellar</h3>
                                        <p hlmDialogDescription>
                                            IMPORTANT: You need to draw inside your vineyard before
                                            adding!
                                        </p>
                                    </hlm-dialog-header>
                                    <form [formGroup]="cellarForm" (ngSubmit)="addCellar()">
                                        <div class="flex flex-col items-center gap-y-2">
                                            <hlm-form-field>
                                                <input
                                                    class="w-64"
                                                    type="text"
                                                    placeholder="Vineyard name"
                                                    formControlName="name"
                                                    hlmInput
                                                />
                                            </hlm-form-field>
                                            <hlm-form-field>
                                                <input
                                                    class="w-64"
                                                    type="number"
                                                    min="0"
                                                    placeholder="Capacity"
                                                    formControlName="capacity"
                                                    hlmInput
                                                />
                                            </hlm-form-field>
                                            <button
                                                variant="default"
                                                hlmBtn
                                                type="submit"
                                                class="cursor-pointer"
                                                [disabled]="this.checkFields()"
                                            >
                                                Create
                                            </button>
                                        </div>
                                    </form>
                                </hlm-dialog-content>
                            </hlm-dialog>
                        }
                    </div>
                    <div hlmTabsContent="map" class="h-full p-4">
                        <div
                            class="h-[75vh] w-full rounded-xl shadow border border-gray-200 z-10"
                            leaflet
                            leafletDraw
                            [leafletOptions]="options"
                            [leafletDrawOptions]="setDrawFeatures()"
                            (leafletMapReady)="onMapReady($event)"
                        ></div>
                    </div>
                </div>
            </hlm-tabs>
        </div>
    </section>
} @else {
    <hlm-spinner />
}
