<section class="section-container">
    <div class="w-full h-full flex flex-col justify-center p-4">
        <div
            class="h-[80vh] w-full rounded-xl shadow border border-gray-200 z-10"
            leaflet
            leafletDraw
            [leafletOptions]="options"
            [leafletDrawOptions]="getDrawFeatures()"
            (leafletMapReady)="onMapReady($event)"
            (leafletDrawReady)="onDrawReady($event)"
        >
            @if (this.authService.user$ | async; as user) {
                @if (user.vineyard!.cellars && user.vineyard!.cellars!.length > 0) {
                    <div class="leaflet-top leaflet-right p-4">
                        <button
                            hlmBtn
                            variant="default"
                            size="sm"
                            class="pointer-events-auto cursor-pointer"
                            [brnMenuTriggerFor]="actionMenu"
                        >
                            <ng-icon hlm name="lucideMenu" size="sm"></ng-icon>
                        </button>
                    </div>
                    <ng-template #actionMenu>
                        <hlm-menu>
                            <button
                                variant="destructive"
                                class="cursor-pointer"
                                hlmMenuItem
                                [brnAlertDialogTriggerFor]="deleteDialog"
                            >
                                <ng-icon hlm size="sm" name="lucideX" />
                                Delete cellar
                            </button>
                        </hlm-menu>
                    </ng-template>
                    <hlm-alert-dialog #deleteDialog>
                        <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
                            <hlm-alert-dialog-header>
                                <h3 hlmAlertDialogTitle>Are you sure?</h3>
                                <p hlmAlertDialogDescription>
                                    If you delete your cellar, all of your other assets under the
                                    cellar will be gone as well!
                                </p>
                            </hlm-alert-dialog-header>
                            <hlm-alert-dialog-content>
                                <hlm-select
                                    (valueChange)="handleCurrentCellar($event)"
                                    placeholder="Select a cellar"
                                >
                                    <hlm-select-trigger class="w-[280px]">
                                        <hlm-select-value>
                                            <div
                                                class="flex items-center gap-x-2"
                                                *brnSelectValue="let value"
                                            >
                                                {{ value.name }}
                                            </div>
                                        </hlm-select-value>
                                    </hlm-select-trigger>
                                    <hlm-select-content>
                                        <hlm-select-scroll-up />
                                        <hlm-select-group>
                                            <hlm-select-label>Cellars</hlm-select-label>
                                            @for (
                                                cellar of this.user.vineyard!.cellars;
                                                track cellar
                                            ) {
                                                <hlm-option [value]="cellar">
                                                    {{ cellar.name }}
                                                </hlm-option>
                                            }
                                        </hlm-select-group>
                                        <hlm-select-scroll-down />
                                    </hlm-select-content>
                                </hlm-select>
                            </hlm-alert-dialog-content>
                            <hlm-alert-dialog-footer>
                                <button
                                    class="cursor-pointer"
                                    hlmAlertDialogCancel
                                    (click)="ctx.close()"
                                >
                                    Cancel
                                </button>
                                <button
                                    class="cursor-pointer"
                                    hlmAlertDialogAction
                                    (click)="deleteCellar(currentCellar!.id)"
                                >
                                    Continue
                                </button>
                            </hlm-alert-dialog-footer>
                        </hlm-alert-dialog-content>
                    </hlm-alert-dialog>
                }
            }
        </div>
        <hlm-dialog [state]="dialogService._state()">
            <hlm-dialog-content *brnDialogContent>
                <hlm-dialog-header>
                    <h3 class="text-center" hlmDialogTitle>Add cellar</h3>
                    <p hlmDialogDescription>
                        IMPORTANT: You need to draw inside your vineyard before adding!
                    </p>
                </hlm-dialog-header>
                <form [formGroup]="cellarForm" (ngSubmit)="addCellar()">
                    <div class="flex flex-col items-center gap-y-2">
                        <hlm-form-field>
                            <input
                                class="w-64"
                                type="text"
                                placeholder="Cellar name"
                                formControlName="name"
                                hlmInput
                            />
                        </hlm-form-field>
                        <hlm-form-field>
                            <input
                                class="w-64"
                                type="number"
                                min="0"
                                placeholder="Capacity"
                                formControlName="capacity"
                                hlmInput
                            />
                        </hlm-form-field>
                        <div class="flex gap-6">
                            <button
                                variant="destructive"
                                hlmBtn
                                type="reset"
                                class="cursor-pointer"
                                (click)="this.closeDialog()"
                            >
                                Close
                            </button>
                            <button
                                variant="default"
                                hlmBtn
                                type="submit"
                                class="cursor-pointer"
                                [disabled]="this.checkFields()"
                            >
                                Create
                            </button>
                        </div>
                    </div>
                </form>
            </hlm-dialog-content>
        </hlm-dialog>
    </div>
</section>
