@if (this.authService.user$ | async; as user) {
    <section class="section-container">
        <div class="flex w-full h-full">
            <hlm-tabs tab="data" class="w-full h-full">
                <hlm-tabs-list class="grid w-full grid-cols-2">
                    <button hlmTabsTrigger="data" class="cursor-pointer">Data view</button>
                    <button hlmTabsTrigger="map" class="cursor-pointer">Map view</button>
                </hlm-tabs-list>
                <div class="w-full h-full flex flex-col justify-center">
                    <div hlmTabsContent="data" class="w-full p-4 flex justify-center">
                        @if (user.vineyard) {
                            <div
                                [brnCtxMenuTriggerFor]="menu"
                                class="overflow-x-auto shadow-lg rounded-lg"
                            >
                                <table class="w-full table-auto border border-gray-200">
                                    <tbody>
                                        <tr class="dashboard-tr">
                                            <th scope="row" class="dashboard-th">Name</th>
                                            <td class="dashboard-td">
                                                {{ user.vineyard.name }}
                                            </td>
                                        </tr>
                                        <tr class="dashboard-tr">
                                            <th scope="row" class="dashboard-th">Area</th>
                                            <td class="dashboard-td">
                                                {{ user.vineyard.area | number }} km²
                                            </td>
                                        </tr>
                                        <tr class="dashboard-tr">
                                            <th scope="row" class="dashboard-th">Cellars</th>
                                            <td class="dashboard-td">
                                                {{ user.vineyard.cellars?.length ?? 0 }}
                                            </td>
                                        </tr>

                                        <tr class="dashboard-tr">
                                            <th scope="row" class="dashboard-th">Owning Date</th>
                                            <td class="dashboard-td">
                                                {{ user.vineyard.owningDate | datetransform }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-template #menu>
                                <hlm-menu>
                                    <button
                                        variant="destructive"
                                        class="w-full"
                                        (click)="deleteVineyard()"
                                        hlmBtn
                                    >
                                        <ng-icon name="lucideTrash2"></ng-icon>
                                        Delete
                                    </button>
                                </hlm-menu>
                            </ng-template>
                        } @else {
                            <p hlmH2>You don't have any vineyards created.</p>
                        }
                    </div>
                    <div hlmTabsContent="map" class="h-full p-4">
                        <div
                            class="h-[75vh] w-full rounded-xl shadow border border-gray-200 z-10"
                            leaflet
                            leafletDraw
                            [leafletOptions]="options"
                            [leafletDrawOptions]="setDrawFeatures()"
                            (leafletMapReady)="onMapReady($event)"
                        ></div>
                        <hlm-dialog [state]="dialogService._state()">
                            <hlm-dialog-content *brnDialogContent>
                                <hlm-dialog-header>
                                    <h3 class="text-center" hlmDialogTitle>Add vineyard</h3>
                                    <p hlmDialogDescription>
                                        IMPORTANT: You need to draw on the map before adding!
                                    </p>
                                </hlm-dialog-header>
                                <form [formGroup]="vineyardForm" (ngSubmit)="addVineyard()">
                                    <div class="flex flex-col items-center gap-y-2">
                                        <hlm-form-field>
                                            <input
                                                class="w-64"
                                                type="text"
                                                placeholder="Vineyard name"
                                                formControlName="name"
                                                hlmInput
                                            />
                                        </hlm-form-field>
                                        <div class="flex gap-6">
                                            <button
                                                variant="destructive"
                                                hlmBtn
                                                type="reset"
                                                class="cursor-pointer"
                                                (click)="closeDialog()"
                                            >
                                                Close
                                            </button>
                                            <button
                                                variant="default"
                                                hlmBtn
                                                type="submit"
                                                class="cursor-pointer"
                                                [disabled]="checkFields()"
                                            >
                                                Create
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </hlm-dialog-content>
                        </hlm-dialog>
                    </div>
                </div>
            </hlm-tabs>
        </div>
    </section>
}
